<div class="spacing-container">
    <aside class="admin-pill-nav rounded">
        <a class="nav-item" routerLink="general" routerLinkActive="selected"><div class="name" trans>General</div></a>
        <a class="nav-item" routerLink="player" routerLinkActive="selected"><div class="name">Player</div></a>
        <a class="nav-item" routerLink="authentication" routerLinkActive="selected"><div class="name" trans>Authentication</div></a>
        <a class="nav-item" routerLink="uploading" routerLinkActive="selected"><div class="name" trans>Uploading</div></a>
        <a class="nav-item" routerLink="logging" routerLinkActive="selected"><div class="name" trans>Logging</div></a>
    </aside>

    <div class="settings-panels-container">
        <router-outlet></router-outlet>
    </div>
</div>
