<data-table [dataSource]="dataSource" itemsName="lyrics" matSort>
    <button mat-raised-button (click)="openCrupdateLyricModal()" color="accent" *ngIf="currentUser.hasPermission('lyrics.create')" headerActions trans>Add</button>

    <button mat-icon-button [matTooltip]="'Delete selected' | trans" (click)="confirmLyricsDeletion()" headerSelectedActions *ngIf="currentUser.hasPermission('lyrics.delete')">
        <mat-icon svgIcon="delete"></mat-icon>
    </button>

    <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef trans>Image</mat-header-cell>
        <mat-cell *matCellDef="let lyric"> <img [src]="getLyricImage(lyric)"> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef trans>Song</mat-header-cell>
        <mat-cell *matCellDef="let lyric"> {{lyric.track ? lyric.track.name : '-'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="artist">
        <mat-header-cell *matHeaderCellDef trans>Artist</mat-header-cell>
        <mat-cell *matCellDef="let lyric"> {{lyric.track ? lyric.track.album.artist.name : '-'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="album">
        <mat-header-cell *matHeaderCellDef trans>Album</mat-header-cell>
        <mat-cell *matCellDef="let lyric"> {{lyric.track ? lyric.track.album.name : '-'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="last_updated">
        <mat-header-cell *matHeaderCellDef mat-sort-header="updated_at" trans>Last Updated</mat-header-cell>
        <mat-cell *matCellDef="let lyric"> {{lyric.updated_at | formattedDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let lyric">
            <button mat-icon-button (click)="openCrupdateLyricModal(lyric)" *ngIf="currentUser.hasPermission('lyrics.update')" [matTooltip]="'Edit lyric' | trans">
                <mat-icon svgIcon="edit"></mat-icon>
            </button>
        </mat-cell>
    </ng-container>
</data-table>