<div class="content" customScrollbar>
    <a class="logo-container" routerLink="/">
        <img class="logo" [src]="settings.getBaseUrl(true) + '/client/assets/images/logo-light.png'">
    </a>

    <form class="search-bar-container" (ngSubmit)="searchPanel.goToSearchPage()">
        <label for="search" class="hidden" trans>Main site search</label>
        <input id="search" placeholder="Search..." [formControl]="searchPanel.searchQuery" autocomplete="off"
               trans-placeholder>

        <mat-icon svgIcon="search" class="search-bar-icon"
                  [class.hidden]="searchPanel.searching || searchPanel.searchQuery.value"
                  (click)="searchPanel.goToSearchPage()"></mat-icon>

        <button type="button" class="no-style search-bar-icon" (click)="searchPanel.close()">
            <mat-icon svgIcon="close"
                      [class.hidden]="searchPanel.searching || ! searchPanel.searchQuery.value"></mat-icon>
        </button>

        <loading-indicator [isVisible]="searchPanel.searching" class="small"></loading-indicator>
    </form>

    <div class="sidebar-nav">
        <a class="nav-item custom-menu-item route-nav-item" routerLink="/new-releases" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
            <mat-icon svgIcon="new-releases"></mat-icon>
            <span class="text">New Releases</span>
        </a>
        <a class="nav-item custom-menu-item route-nav-item" routerLink="/genres" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
            <mat-icon svgIcon="local-offer"></mat-icon>
            <span class="text">Genres</span>
        </a>
        <a class="nav-item custom-menu-item route-nav-item" routerLink="/top-50" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
            <mat-icon svgIcon="trending-up"></mat-icon>
            <span class="text">Top Tracks</span>
        </a>

    </div>

    <div class="separator"></div>

    <div class="auth-container">
        <div *ngIf="currentUser.isLoggedIn()" class="current-user">
            <a [routerLink]="urls.user(currentUser.getModel())" class="img-container">
                <img [src]="currentUser.get('avatar')">
            </a>
            <a class="name hover-underline"
               [routerLink]="urls.user(currentUser.getModel())">{{currentUser.get('display_name')}}</a>

            <button mat-icon-button [matMenuTriggerFor]="navSidebarMenu" class="settings-button">
                <mat-icon svgIcon="settings"></mat-icon>
            </button>

            <mat-menu #navSidebarMenu="matMenu">
                <a mat-menu-item routerLink="/admin" *ngIf="currentUser.hasPermission('admin.access')">
                    <mat-icon svgIcon="dashboard" class="mat-icon"></mat-icon>
                    <span trans>Admin Area</span>
                </a>
                <a mat-menu-item routerLink="/account/settings">
                    <mat-icon svgIcon="account-circle" class="mat-icon"></mat-icon>
                    <span trans>Account Settings</span>
                </a>
                <div mat-menu-item (click)="auth.logOut()">
                    <mat-icon class="logout-icon mat-icon" svgIcon="exit-to-app"></mat-icon>
                    <span trans>Logout</span>
                </div>
            </mat-menu>
        </div>

        <ng-container *ngIf="!currentUser.isLoggedIn()">
            <a routerLink="/login" mat-raised-button color="accent" trans>Login</a>
            <a routerLink="/register" mat-button trans>Register</a>
        </ng-container>
    </div>

    <ng-container *ngIf="currentUser.isLoggedIn()">
        <div class="upload-wrap">
            <a routerLink="/upload" mat-raised-button color="accent">
                <mat-icon svgIcon="cloud-upload"></mat-icon>
                <span>Upload Songs</span>
            </a>
        </div>
        <div class="your-music-container">
            <div class="title" trans>Your Music</div>
            <div class="sidebar-nav">
                <a class="nav-item custom-menu-item route-nav-item" routerLink="/library/songs" routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon svgIcon="audiotrack"></mat-icon>
                    <span class="text">Songs</span>
                </a>
                <a class="nav-item custom-menu-item route-nav-item" routerLink="/library/albums" routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon svgIcon="album"></mat-icon>
                    <span class="text">Albums</span>
                </a>
                <a class="nav-item custom-menu-item route-nav-item" routerLink="/library/artists" routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon svgIcon="mic"></mat-icon>
                    <span class="text">Artists</span>
                </a>
                <a class="nav-item custom-menu-item route-nav-item" routerLink="/library/uploaded-songs" routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon svgIcon="audiotrack"></mat-icon>
                    <span class="text">Uploaded Songs</span>
                </a>
            </div>
        </div>

        <div class="separator"></div>

        <div class="playlists-container">
            <div class="header">
                <div class="name" trans>Playlists</div>
                <button mat-icon-button class="new-playlist-button" (click)="openNewPlaylistModal()">
                    <mat-icon svgIcon="playlist-add"></mat-icon>
                </button>
            </div>
            <div class="playlists sidebar-nav">
                <a class="sidebar-nav-item playlist" *ngFor="let playlist of playlists.get()"
                   [contextMenu]="{item: playlist, type: 'playlist'}" [routerLink]="urls.playlist(playlist)">
                    {{playlist.name}}
                </a>
            </div>
        </div>
    </ng-container>
</div>

<div class="current-track" *ngIf="player.cued()" [contextMenu]="{item: player.getCuedTrack(), type: 'track'}">
    <img [src]="getTrackImage(player.getCuedTrack())">
    <div class="meta">
        <a class="track-name hover-underline"
           [routerLink]="urls.track(player.getCuedTrack())">{{player.getCuedTrack().name}}</a>
        <artists-links-list class="artist-name" [artists]="player.getCuedTrack().artists"></artists-links-list>
    </div>
    <div class="toggle-track">
        <library-track-toggle-button [track]="player.getCuedTrack()"></library-track-toggle-button>
    </div>
</div>
